.puzzle-header .header-anchor-graphic img {
    max-height: 190px;
    margin: 0 20px 0 -10px
}

.puzzle-header .header-textual-data .town-name img {
    max-height: 50px;
    margin: 10px 0 0 -5px
}
